[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
cython = "*"
numpy = "*"
scikit-learn = "*"
matplotlib = "*"
pandas = "*"
tqdm = "*"
tflib = "*"
"autopep8" = "*"
moviepy = "*"
opencv-python = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.7"
